include ../components/head/head
doctype html
html(class="no-js", lang="ru" ng-app="app")

    block vars

    head
        +head(head.defaults)
    if pageBg
        body(style="background-image: url(%=static=%/img/general/#{pageBg})")
    else
        body

    .all
        block content

    script(src='%=static=%js/separate-js/detect-ie.js')
    script(src='%=static=%js/separate-js/jquery-3.1.0.min.js')
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script(src='%=static=%js/separate-js/tether.min.js')
    script(src='%=static=%js/separate-js/bootstrap.min.js')
    script(src='%=static=%js/separate-js/holder.min.js')
    script(src='%=static=%js/main%=hash=%%=min=%.js')
    script svg4everybody();